
@{
    Layout = null;
}
@using ExcelToConvertTable.Models
@model PersonModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>

    <div class="container">
        <div class="row">


            <div class="col-md-12">
                <br />
                <br />
                <h4 class="col-md-2">Excel dosyası seç :</h4>

                <input type="file" name="excelFile" class="btn btn-default" id="selectFile" />
                <div class="col-md-12">
                    <br />
                    <button type="button" class="btn btn-success" id="loading">Tabloya Aktar</button>
                    <br />
                </div>
            </div>




        </div>

        <div class="col-md-12" id="listDiv">
            @Html.Partial(@"~\Views\Home\_PartialTableList.cshtml", Model)
        </div>


    </div>

    <div id="domMessage" style="display:none;">
        <img src="~/Images/786.gif" style="width:90px; height:90px;" /><br />
        <br />
        <h4><b>Lütfen Bekleyin.  İşlem Devam Ediyor ...</b></h4>

    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>

    <script>

        $("#loading").click(function () {
            bootbox.confirm({
                message: "Tabloya aktarılsın mı!",
                buttons: {
                    confirm: {
                        label: 'Evet',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Hayır',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                        var file = $("#selectFile").get(0).files;
                        var data = new FormData;
                        data.append("excelFile", file[0]);


                        var formData = new FormData();
                        formData.append("excelFile", $("#selectFile").file);

                        $.ajax({
                            method: "POST",
                            url: "/Home/UploadExcel",
                            data: data,
                            cache: false,
                            contentType: false,
                            processData: false,
                            beforeSend: function () {
                                $.blockUI({ message: $('#domMessage') });
                            }
                        }).done(function (data) {
                            $("#listDiv").html(data);
                        }).always(function () {
                            $.unblockUI();
                        });

                    }
                }
            });
          
        });
    </script>

</body>
</html>

